
.update.container {
  width: 50vw;
  margin: auto;
}
button.edit-submit-btn {
  height: 2rem;
  width: 12rem;
  margin-left: 11rem;
  font-size: larger;
}

input.datas {
  width: 37vw;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 5vh;
  padding-left: 1rem;
}
h2.edit-head {
  padding-left: 19rem;
  width: 5rem;
}
.main {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  width: 100%;
}
.basic {
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  width: 40vw;
  padding-top: 4rem;
}

.btn1 {
  padding: 2%;
  border-radius: 5px;
  width: 15vh;
  background-color: skyblue;
  cursor: pointer;
  /* margin-left: 17rem; */
  /* margin-left: 13rem; */
}
.btn2 {
  padding: 2%;
  border-radius: 5px;
  background-color: rgb(159 108 148);
  cursor: pointer;
  width: 9rem;
  margin-left: 10rem;
}

form.form-basic {
  display: flex;
  flex-direction: column;
  border: 2px solid lightcoral;
  padding-left: 4rem;
  height: 22rem;
  border-radius: 12px;
}


input.datas {
  width: 33vw;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 5vh;
  padding-left: 1rem;
  margin-left: 3rem;
}

label {
  padding-left: 1rem;
  height: 25px;
  font-weight: 900;
  font-size: 20px;
  margin-left: 2rem;
}

.data-container {
  height: 100vh;
  background-color: bisque;
}

